name: Docker Image Builder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ubuntu-img
    
    - name: show dir
      run: ls
    - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: ubuntu-img
          path: ubuntu-img:latest