name: Docker Image Builder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ubuntu-img
      
    - name: Download image
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "ubuntu-img:latest"